@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400&family=Geologica:wght@300;400&family=Marcellus&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;1,100&display=swap");
body {
  margin: 0;
  font-family: "Almarai", sans-serif;
  font-family: "Geologica", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}
